@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/itm-logo.png" alt="ITM Logo" width="200" />

<h1 class="display-4">EasyDevOps</h1>
<p>Monitoring en DevOps ondersteuning voor ITM</p>

</div>
